html,body{margin:0px auto; padding:0px; background:url(../images/CtntCtnrBgImg.jpg) repeat;}
.MainWrapper {width:100%; margin:0px; padding:0px; }
.MainWrapper .HeaderWrapper { width:100%; margin:0px auto; background:url(../images/HeaderBg.png) center top no-repeat; height:100px;}

.HeaderWrapper .HeaderCtnr {width:1010px; margin:0px auto; padding:0px; position:relative; }
.HeaderWrapper .HeaderCtnr .LogoBox {background:url(../images/LogoInvoice.png) no-repeat; width:328px; height:25px; float:left; margin:10px 0px 0px 0px;}
.HeaderCtnr .HeaderInfoBox {float:right; margin:0px 0px 0px 0px; padding:0px; width:580px;}
.HeaderInfoBox .supportInfo {float:right; }
.HeaderInfoBox .supportInfo label {font:normal 13px Arial, Helvetica, sans-serif; color:#d6dae2; float:left; margin:8px 0px 0px 0px;}
.HeaderInfoBox .supportInfo h3{font:bold 20px Arial, Helvetica, sans-serif; color:#fff; float:left; margin:2px 0px 0px 10px; padding:0px;}

.HeaderInfoBox .HaveAccount {float:right; width:100%; margin:0px 0px 0px 0px;}
.HaveAccount .HaveAccountBox {float:right; background:url(../images/HaveAnAccountBgImg.png) repeat-x; height:35px; width:450px; -moz-border-radius:0 0 8px 8px; -webkit-border-radius:0 0 8px 8px;  border-radius:0 0 8px 8px; }

.HaveAccountBox label.HavAccountTxt {font:bold 12px arial; color:#000; float:left; margin:10px 0 14px 10px;}
.HaveAccountBox a.SignIn{background:url(../images/SignInBg.png) repeat-x; height:27px; -moz-border-radius:4px; -webkit-border-radius:4px;  border-radius:4px; float:left; padding:0px 15px; font:bold 12px/27px arial; color:#fff; margin:4px 4px; text-decoration:none;}
.HaveAccountBox a.SignIn:hover {background:url(../images/SignInBgHover.png) repeat-x;}
.HaveAccountBox a.Register{background:url(../images/RegisterNowBg.png) repeat-x; height:27px; -moz-border-radius:4px; -webkit-border-radius:4px;  border-radius:4px; float:left; padding:0px 15px; font:bold 12px/27px arial; color:#fff; margin:4px 4px; text-decoration:none;}
.HaveAccountBox a.Register:hover {background:url(../images/RegisterNowBgHover.png) repeat-x;}

.HaveAccount .shoppingCartBox {float:left; background:url(../images/ShoppingCartIcon.png) no-repeat 2px 7px; font:bold 12px arial; color:#ec281b; padding:9px 0px 14px 27px; margin:0px 0px 0px 5px;}
.HaveAccount .shoppingCartBox label {color:#000; font-size:15px !important;}

/* Not In Use
.HeaderCtnr ul.MenuCtnr {width:99.2%; margin:5px 0px 0px 5px; padding:0px; float:left; background:url(../images/MenuBgImg.png) repeat-x; height:35px;}
.HeaderCtnr ul.MenuCtnr li {float:left; list-style:none; margin:0px; padding:10px 0px;}
.HeaderCtnr ul.MenuCtnr li.HomeLi {padding:0px;}
.HeaderCtnr ul.MenuCtnr li a.Home {background:url(../images/HomeIcon.png) no-repeat; width:54px; height:35px; float:left;}
.HeaderCtnr ul.MenuCtnr li a.MenuLinks {float:left; font:normal 13px Arial, Helvetica, sans-serif; color:#fefefe; text-decoration:none; border-right:solid 1px #7e7e7e; padding:0px 15px;}
.HeaderCtnr ul.MenuCtnr li a.MenuLinks:hover {color:#24d5ff;} */

.MainWrapper .MainCtntCtnr {width:1010px; margin:0px auto; padding:0px; }
.MainCtntCtnr .ContentCtnr {width:1011px; background:url(../images/CtntCtnrBgimg.png) repeat-y; margin:0px auto; padding:0px; float:left;}
.MainCtntCtnr .ContentCtnrTsucess {width:1011px; background:url(../images/CtntCtnrBgimg.png) repeat-y; margin:0px auto; padding:0px;}

.ContentCtnr .leftCol {width:270px; float:left; padding:10px 15px 10px 13px;}
.leftCol .LeftColBox {width:100%; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; float:left; margin:0px 0px 15px 0px;}
.LeftColBox h2.BoxTitle {background:url(../images/BoxTypeGrdntBgImg.png) repeat-x; height:35px; font:bold 18px/35px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff;
margin:0px; padding:0px 0px 0px 10px; -moz-border-radius:4px 4px 0px 0px; -webkit-border-radius:4px 4px 0px 0px; border-radius:4px 4px 0px 0px; float:left; width:96.3%;}
.LeftColBox .BoxCtnr {width:97.2%; float:left; border:solid 4px #80848d; -moz-border-radius:0px 0px 4px 4px; -webkit-border-radius:0px 0px 4px 4px; border-radius:0px 0px 4px 4px;}
.LeftColBox .BoxCtnr label.Texttitle {font:normal 14px arial; color:#222; margin:5px 10px; padding:0px; float:left;}
.LeftColBox select.selectionBox {border:solid 1px #8a8a8a; padding:8px 10px 9px; width:92.5%; background:url(../images/SelectionBoxBgImg.png) repeat-x; margin:5px 10px;}
.LeftColBox span.TextInfo {font:normal 12px arial; color:#222; float:left; margin:5px 5px 10px 10px; width:56%;}
.LeftColBox input.BtnStyle[type="button"]{background:url(../images/BtnBgImg.png) repeat-x; margin:0px; padding:0px 15px; height:30px; font:bold 14px/30px arial; color:#222; float:left; border:solid 1px #9498a1; margin:5px 0px 0px 0px; cursor:pointer;}
.LeftColBox input.BtnStyle[type="button"]:hover{background:url(../images/BtnBgImgHover.png) repeat-x;}


.LeftColBox .BoxCtnr ul.Categories {width:100%; float:left; margin:0px; padding:0px; }
.LeftColBox .BoxCtnr ul.Categories li {list-style:none;  margin:0px; padding:6px 0 6px 10px; width:100%;}
.LeftColBox .BoxCtnr ul.Categories li a {background:url(../images/CategoryIcon.png) no-repeat left center; padding:10px 0px 10px 25px; font:normal 12px arial; color:#000; text-decoration:none;}
.LeftColBox .BoxCtnr ul.Categories li a:hover{color:#da0e03;}
.LeftColBox .BoxCtnr img.OfferImg {width:100%;}
.LeftColBox img.AdvtImg {width:100%;}



.ContentCtnr .rightCol {width:690px; float:left; padding:10px 15px 10px 7px;}
.rightCol .CallingCardSrchBlock {width:100%; pading:0px; margin:0px; background:url(../images/CallingCardSrchBlockBg.png) repeat-x; height:50px; -moz-border-radius:6px; -border-border-radius:6px; border-radius:6px; border:solid 1px #aeaeae; -moz-box-shadow:3px 3px 3px -1px #d1d1d1; -webkit-box-shadow: 3px 3px 3px -1px #d1d1d1; box-shadow:3px 3px 3px -1px #d1d1d1; }
.CallingCardSrchBlock label.BlockTitle {font:normal 15px "Trebuchet MS", Arial, Helvetica, sans-serif; float:left; margin:14px 10px 0 15px; padding:0px; }
.CallingCardSrchBlock select.CntrySlctnBox {border:solid 1px #8a8a8a; padding:7px 10px 7px; width:28%; background:url(../images/SelectionBoxBgImg.png) repeat-x; margin:8px 6px; float:left;}
.CallingCardSrchBlock input.BtnStyle[type="button"]{background:url(../images/BtnBgImg.png) repeat-x; margin:0px; padding:0px 15px; height:32px; font:bold 14px/30px arial; color:#222; float:left; border:solid 1px #005779; margin:8px 0 0 10px; cursor:pointer;}
.CallingCardSrchBlock input.BtnStyle[type="button"]:hover{background:url(../images/BtnBgImgHover.png) repeat-x;}

.rightCol .BannerSlider { float:left; width:690px; margin:15px 0px 0px 0px;}
.rightCol .AbtInfo {width:690px; margin:15px 0px 0px 0px ; float:left;}
.rightCol .AbtInfo h2 {margin:0px; padding:0px; font:normal 18px Arial, Helvetica, sans-serif; color:#da0e03;}
.rightCol .AbtInfo p.TxtInfo {font:normal 14px/25px tahoma; color:#222; margin:0px; padding:0px; float:left; width:100%;}

.rightCol .TabberBox {float:left; width:100%; border:solid 1px #d6d6d6; }

.FooterBlock {width:100%; margin:0px auto; padding:10px 0px; float:left;display:none; background:url("../images/HeaderBg.png") no-repeat scroll center top transparent}
.FooterBlock p.FooterLinks {width:1010px; margin:0px auto; padding:10px 0px;}
.FooterBlock p.FooterLinks a.FtrLink {font:normal 12px arial; color:#ccc; margin:0px 10px; text-decoration:none; float:left;}
.FooterBlock p.FooterLinks a.FtrLink:hover {text-decoration:underline;}
.FooterBlock p.FooterLinks label.copyrights {font:normal 12px arial; color:#ccc; float:left; margin:10px 0px 0px 10px; clear:both;}
.FooterBlock p.FooterLinks .FollowUs {float:right; margin:0px 0px 0px 0px;}
.FooterBlock p.FooterLinks .FollowUs label {font:normal 14px arial; color:#ccc; float:left;}
.FooterBlock p.FooterLinks .FollowUs a.Follow{float:left; margin:0px 8px; padding:0px; }
.FooterBlock p.FooterLinks .FollowUs a.Follow img {border:none;}


.PaymentTextBox {font:nomral 14px arial; color:#666; width:90%; padding:8px 10px; border:solid 1px #c2c6ce; float:left;}
.PaymentDropDown {font:nomral 14px arial; color:#666; width:90%; padding:8px 10px; border:solid 1px #c2c6ce; float:left;}
.PaymentLabel{width:85%; font:bold 12px arial; color:#757677; float:left; text-align:left; padding:10px 0px 10px 12px;}

#InvoicePage .FullWidthCtnr {width:98.5% !important; margin:0px 5px !important;}